<div class="jumbotron col-md-12">
  <h1>Wolfie's List</h1>
  <p>Buy, sell and trade with other students. Feel safe meeting in campus buildings not some sketchy coffee shop.</p>
  <p><%= link_to('View Ads', ads_path, class: 'btn btn-primary btn-lg') %></p>
</div>