<h1>Listing ads</h1>
<% if logged_in? %>
<br>
<%= link_to 'New Ad', new_user_ad_path(current_user) %>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Weather</th>
    </tr>
  </thead>

  <tbody id="ads">
    <img src='http://www.fostersystems.com/ccdata/images/spinner.gif' id='next_page_spinner' /> 
  </tbody>

</table>

<%= javascript_include_tag 'pagination' %>